<a href="https://colab.research.google.com/github/gurpinder95/my-1st-Data-science/blob/main/assignment1_q9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Calculate Skewness, Kurtosis & draw inferences on the following data
      #Cars speed and distance 
import pandas as pd
import numpy as np
from scipy.stats import skew
from scipy.stats import kurtosis
cars=pd.read_csv("Q9_a.csv")
sw=pd.read_csv("Q9_b.csv")

In [6]:
cars

    Index  speed  dist
0       1      4     2
1       2      4    10
2       3      7     4
3       4      7    22
4       5      8    16
5       6      9    10
6       7     10    18
7       8     10    26
8       9     10    34
9      10     11    17
10     11     11    28
11     12     12    14
12     13     12    20
13     14     12    24
14     15     12    28
15     16     13    26
16     17     13    34
17     18     13    34
18     19     13    46
19     20     14    26
20     21     14    36
21     22     14    60
22     23     14    80
23     24     15    20
24     25     15    26
25     26     15    54
26     27     16    32
27     28     16    40
28     29     17    32
29     30     17    40
30     31     17    50
31     32     18    42
32     33     18    56
33     34     18    76
34     35     18    84
35     36     19    36
36     37     19    46
37     38     19    68
38     39     20    32
39     40     20    48
40     41     20    52
41     42     20    56
42     43     20    64
43     44     22    66
44     45     23    54
45     46     24    70
46     47     24    92
47     48     24    93
48     49     24   120
49     50     25    85

In [15]:
print(skew(cars["speed"]))

-0.11395477012828319

In [16]:
print(skew(cars["dist"]))   #from 15 and 16 we can say speed is negatively skewed and dist is positively skewed

0.7824835173114966

In [19]:
print(kurtosis(cars["speed"]))    #value is less than 0 we can say speed is platykurtic

-0.5771474239437371

In [20]:
print(kurtosis(cars["dist"]))    #value is greater than 0 we can say laptokurtic

0.24801865717051808

In [7]:
sw

    Unnamed: 0          SP         WT
0            1  104.185353  28.762059
1            2  105.461264  30.466833
2            3  105.461264  30.193597
3            4  113.461264  30.632114
4            5  104.461264  29.889149
..         ...         ...        ...
76          77  169.598513  16.132947
77          78  150.576579  37.923113
78          79  151.598513  15.769625
79          80  167.944460  39.423099
80          81  139.840817  34.948615

[81 rows x 3 columns]

In [9]:
print(skew(sw["SP"]))         #for speeed skewness is positive
print(skew(sw["WT"]))         #for weight skewness is negative

1.581453679442373
-0.6033099322115126

In [10]:
print(kurtosis(sw["SP"]))       # for speed kurtosis is laptokurtic
print(kurtosis(sw["WT"]))       # for weight kurtosis is laptokurtic

2.7235214865269173
0.8194658792266849