<a href="https://colab.research.google.com/github/gurpinder95/my-1st-Data-science/blob/main/understanding_confidence_interval_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [9]:
glaxo_df=pd.read_csv("/GLAXO.csv")
beml_df=pd.read_csv("/BEML.csv")

In [6]:
glaxo_df

            Date     Open  ...  Total Trade Quantity  Turnover (Lacs)
0     2010-01-04  1613.00  ...                9365.0           151.74
1     2010-01-05  1639.95  ...               38148.0           622.58
2     2010-01-06  1618.00  ...               36519.0           595.09
3     2010-01-07  1645.00  ...               12809.0           211.00
4     2010-01-08  1650.00  ...               28035.0           459.11
...          ...      ...  ...                   ...              ...
1734  2016-12-26  2703.00  ...                3953.0           107.15
1735  2016-12-27  2722.95  ...               10600.0           286.10
1736  2016-12-28  2701.75  ...                6050.0           163.44
1737  2016-12-29  2702.05  ...                7649.0           207.87
1738  2016-12-30  2730.00  ...                6513.0           177.65

[1739 rows x 8 columns]

In [10]:
#Lets store the above date close in variable bem1
beml=beml_df[["Date","Close"]]  
#same way storing for glaxo date close
glaxo=glaxo_df[["Date","Close"]]

In [13]:
glaxo["Gain"]=glaxo.Close.pct_change(periods=1)
beml["Gain"]=beml.Close.pct_change(periods=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
glaxo

            Date    Close      Gain
0     2010-01-04  1625.65       NaN
1     2010-01-05  1616.80 -0.005444
2     2010-01-06  1638.50  0.013422
3     2010-01-07  1648.70  0.006225
4     2010-01-08  1639.80 -0.005398
...          ...      ...       ...
1734  2016-12-26  2723.50 -0.001283
1735  2016-12-27  2701.75 -0.007986
1736  2016-12-28  2702.15  0.000148
1737  2016-12-29  2727.90  0.009529
1738  2016-12-30  2729.80  0.000697

[1739 rows x 3 columns]

In [39]:
stats.norm.interval(0.95,loc=glaxo.Gain.mean(),scale=glaxo.Gain.std())    #you will get confidence interval of 95 percent lower and upper limit

(-0.025800133293883157, 0.02657221545906774)

In [38]:
stats.norm.ppf(0.975,loc=glaxo.Gain.mean(),scale=glaxo.Gain.std())        #you will get confidence interval only upper limit

0.02657221545906774

In [47]:
stats.norm.interval(0.92,loc=glaxo.Gain.mean(),scale=glaxo.Gain.std())

(-0.023004067665265256, 0.023776149830449823)

In [46]:
stats.norm.ppf(0.96,loc=glaxo.Gain.mean(),scale=glaxo.Gain.std())

0.023776149830449823

In [55]:
stats.norm.interval(0.95)

(-1.959963984540054, 1.959963984540054)

In [56]:
stats.norm.ppf(0.975)

1.959963984540054

In [59]:
stats.t.ppf(0.95,199)

1.652546746165939

In [48]:
df3=glaxo["Gain"]

In [53]:
glaxo_df=glaxo_df.join(df3)

ValueError: ignored

In [54]:
glaxo_df

            Date     Open  ...  Turnover (Lacs)      Gain
0     2010-01-04  1613.00  ...           151.74       NaN
1     2010-01-05  1639.95  ...           622.58 -0.005444
2     2010-01-06  1618.00  ...           595.09  0.013422
3     2010-01-07  1645.00  ...           211.00  0.006225
4     2010-01-08  1650.00  ...           459.11 -0.005398
...          ...      ...  ...              ...       ...
1734  2016-12-26  2703.00  ...           107.15 -0.001283
1735  2016-12-27  2722.95  ...           286.10 -0.007986
1736  2016-12-28  2701.75  ...           163.44  0.000148
1737  2016-12-29  2702.05  ...           207.87  0.009529
1738  2016-12-30  2730.00  ...           177.65  0.000697

[1739 rows x 9 columns]